.button {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: solid 0.1rem #000;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all .14s ease-out;
}

.button+.button {
  margin-left: 0.5rem;
}

.button:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
}

.button--primary {
  color: #fff;
  background-color: #000;
}

.button--primary:hover {
  background-color: #36a9ae;
}

.button--secondary {
  color: #000;
  background-color: #fff;
}