.container {
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  background-color: #fff;
}