.view {
  padding: 1rem 1.5rem;
}

.view--layout-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view--with-border-top {
  border-top: 0.1rem solid #000;
}

.view--with-border-left {
  border-left: 0.1rem solid #000;
}

.view--with-border-right {
  border-right: 0.1rem solid #000;
}

.view--with-border-bottom {
  border-bottom: 0.1rem solid #000;
}